@media only screen and (max-width: 960px) {
  #choose-a-game-div {
    height: 500px;
  }

  #dice-image {
    margin-left: -18%;
  }

  #new-btn {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
  #new-btn ion-icon {
    margin-left: 10%;
  }
  #new-btn p {
    margin-left: 0.5%;
  }
  #roll-btn {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 55%;
  }
  #roll-btn ion-icon {
    margin-left: 15%;
  }

  #roll-btn p {
    margin-left: 0.5%;
  }

  #hold-btn {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 65%;
  }
  #hold-btn ion-icon {
    margin-left: 15%;
  }
  #hold-btn p {
    margin-left: 8%;
  }
}

@media only screen and (max-width: 726px) {
  #choose-a-game-div {
    height: 400px;
  }

  #dice-image {
    margin-left: -20%;
  }

  nav {
    padding-right: 5%;
  }

  #new-btn ion-icon {
    margin-left: 12%;
  }
  #new-btn p {
    display: none;
  }

  #roll-btn p {
    display: none;
  }

  #hold-btn {
    margin-top: 75%;
  }

  #hold-btn p {
    display: none;
  }
}
